{"swagger":"2.0","info":{"description":"France Taxi is a web API to book a taxi everywhere in France.","version":"1.0","title":"FRANCE TAXI API","contact":{"name":"Charles MOLIN","url":"https://france-taxi.com","email":"charles.molin@france-taxi.com"}},"host":"hub-api.france-taxi.com","basePath":"/","tags":[{"name":"Booking","description":"Operations about booking"},{"name":"Radar","description":"Radar Controller"},{"name":"estimate-price-controller","description":"Estimate Price Controller"}],"consumes":["application/json"],"paths":{"/api/v1/bookings":{"post":{"tags":["Booking"],"summary":"Create a new booking","operationId":"createUsingPOST","produces":["*/*"],"parameters":[{"in":"body","name":"booking","description":"booking","required":true,"schema":{"$ref":"#/definitions/Booking"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Booking"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"TOKEN":["global"]}],"deprecated":false}},"/api/v1/bookings/export":{"get":{"tags":["Booking"],"summary":"Export bookings for billing (ROLE_FACTURATION)","operationId":"getBookingsUsingGET","consumes":["*/*"],"produces":["application/xml","application/json"],"parameters":[{"name":"endDate","in":"query","description":"endDate","required":true,"type":"string","format":"date-time"},{"name":"minPrice","in":"query","description":"Minimum price for the booking","required":false,"type":"number","format":"double","allowEmptyValue":false},{"name":"startDate","in":"query","description":"startDate","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Export"}}},"security":[{"TOKEN":["global"]}],"deprecated":false}},"/api/v1/bookings/groupsAvailable":{"get":{"tags":["Booking"],"summary":"Check that an address (latitude / longitude) is served by a grouping.","operationId":"groupsAvailableUsingGET","produces":["*/*"],"parameters":[{"name":"activate","in":"query","description":"Groups activate or not - ROLE_ADMIN","required":false,"type":"boolean"},{"name":"allowNonSubscriber","in":"query","description":"Groups activate or not for the non subscriber user","required":false,"type":"boolean"},{"name":"bookingSubscriber","in":"query","description":"Subscriber code","required":false,"type":"string"},{"name":"deleted","in":"query","description":"Groups deleted or not - ROLE_ADMIN","required":false,"type":"boolean"},{"name":"latitude","in":"query","description":"latitude","required":true,"type":"number","format":"double"},{"name":"longitude","in":"query","description":"longitude","required":true,"type":"number","format":"double"},{"name":"name","in":"query","description":"Groups name","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"TOKEN":["global"]}],"deprecated":false}},"/api/v1/bookings/uuid/{uuid}":{"get":{"tags":["Booking"],"summary":"Return a booking by it's uuid","operationId":"findByUuidUsingGET","produces":["*/*"],"parameters":[{"name":"uuid","in":"path","description":"Uuid of booking","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Booking"}}},"security":[{"TOKEN":["global"]}],"deprecated":false}},"/api/v1/bookings/uuid/{uuid}/rating":{"post":{"tags":["Booking"],"summary":"Rating a booking","operationId":"ratingUsingPOST","produces":["*/*"],"parameters":[{"in":"body","name":"rating","description":"Rating","required":true,"schema":{"$ref":"#/definitions/Rating"}},{"name":"uuid","in":"path","description":"Uuid of booking","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"TOKEN":["global"]}],"deprecated":false}},"/api/v1/bookings/{bookingIds}":{"get":{"tags":["Booking"],"summary":"Return a list of bookings","operationId":"findByBookingIdsUsingGET","produces":["*/*"],"parameters":[{"name":"bookingIds","in":"path","description":"Id(s) of booking(s) separate with commas (ex: 1234 or 1234,5678,...)","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Booking"}}}},"security":[{"TOKEN":["global"]}],"deprecated":false}},"/api/v1/bookings/{bookingIds}/reinitializeDispatch":{"get":{"tags":["Booking"],"summary":"reinitializeDispatch","operationId":"reinitializeDispatchUsingGET","produces":["*/*"],"parameters":[{"name":"bookingIds","in":"path","description":"bookingIds","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"TOKEN":["global"]}],"deprecated":false}},"/api/v1/bookings/{bookingId}":{"delete":{"tags":["Booking"],"summary":"Delete booking by france taxi id","operationId":"deleteByBookingIdUsingDELETE","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"bookingId","required":true,"type":"string"}],"responses":{"204":{"description":"No Content","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"TOKEN":["global"]}],"deprecated":false}},"/api/v1/bookings/{bookingId}/server":{"get":{"tags":["Booking"],"summary":"Consulte une course sur le serveur du groupement","operationId":"findBookingOnServerUsingGET","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"Identifiant de la course","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Booking"}}},"security":[{"TOKEN":["global"]}],"deprecated":false}},"/api/v1/estimatePrice":{"post":{"tags":["estimate-price-controller"],"summary":"calcPrice","operationId":"calcPriceUsingPOST","produces":["*/*"],"parameters":[{"in":"body","name":"estimateprice","description":"estimateprice","required":true,"schema":{"$ref":"#/definitions/EstimatePrice"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"TOKEN":["global"]}],"deprecated":false}},"/api/v1/radar":{"get":{"tags":["Radar"],"summary":"Get a list of taxis at the given location in given radius","operationId":"getUsingGET","produces":["*/*"],"parameters":[{"name":"latitude","in":"query","description":"Latitude of the position","required":true,"type":"number","format":"double","allowEmptyValue":false},{"name":"longitude","in":"query","description":"Longitude of the position","required":true,"type":"number","format":"double","allowEmptyValue":false},{"name":"radius","in":"query","description":"Circle in which taxis will be returned","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"subscriberCode","in":"query","description":"Subscriber code ","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Taxi"}}}},"security":[{"TOKEN":["global"]}],"deprecated":false}}},"securityDefinitions":{"TOKEN":{"type":"apiKey","name":"Authorization","in":"header"}},"definitions":{"Address":{"type":"object","properties":{"address":{"type":"string","description":"Full address"},"city":{"type":"string","description":"City"},"latitude":{"type":"number","format":"double","description":"Latitude"},"longitude":{"type":"number","format":"double","description":"Longitude"}},"title":"Address"},"Booking":{"type":"object","properties":{"addressDep":{"$ref":"#/definitions/Address"},"addressDest":{"$ref":"#/definitions/Address"},"brandCar":{"type":"string"},"ceilingAmount":{"type":"number"},"clientId":{"type":"string"},"codeAbo":{"type":"string","description":"Customer code or WEB if null"},"colorCar":{"type":"string"},"comments":{"type":"string"},"dateApproach":{"type":"string","format":"date-time"},"dateConfirmation":{"type":"string","format":"date-time"},"dateCreated":{"type":"string","format":"date-time"},"dateDispatching":{"type":"string","format":"date-time"},"dateDropped":{"type":"string","format":"date-time"},"dateImminentArrival":{"type":"string","format":"date-time"},"dateOnBoard":{"type":"string","format":"date-time"},"dateOnSite":{"type":"string","format":"date-time"},"dateReservation":{"type":"string","format":"date-time"},"delay":{"type":"integer","format":"int32"},"dossier":{"type":"string"},"driverCode":{"type":"string"},"driverImmat":{"type":"string"},"driverLatitude":{"type":"number","format":"double"},"driverLongitude":{"type":"number","format":"double"},"driverMobile":{"type":"string"},"driverWaiting":{"type":"integer","format":"int32"},"email":{"type":"string"},"etaDriver":{"type":"string","format":"date-time"},"firstname":{"type":"string"},"franceTaxi":{"type":"object"},"groups":{"$ref":"#/definitions/Groups"},"groupsCode":{"$ref":"#/definitions/GroupsCode"},"id":{"type":"integer","format":"int64"},"infosCourse":{"type":"string"},"lastname":{"type":"string"},"mobile":{"type":"string"},"modelCar":{"type":"string"},"noCourse":{"type":"string"},"notifications":{"type":"array","items":{"$ref":"#/definitions/NotificationDto"}},"price":{"type":"number","format":"double"},"rating":{"type":"integer","format":"int32"},"ratingComment":{"type":"string"},"receiptComment":{"type":"string","description":"Driver comment associated with the receipt"},"retard":{"type":"integer","format":"int32"},"service":{"type":"string","description":"Service fix value to 1 if codeAbo = WEB"},"specificIds":{"type":"string"},"specificities":{"type":"array","items":{"$ref":"#/definitions/Specificity"}},"specifics":{"type":"array","items":{"type":"string"}},"status":{"type":"string","enum":["01","02","X1","X2","11","12","31","32","Z1","Z2","U1","U2"]},"uuid":{"type":"string"}},"title":"Booking"},"Course":{"type":"object","properties":{"AdresseArrivee":{"type":"string"},"AdresseDepart":{"type":"string"},"CodeAbonne":{"type":"string"},"CodeChauffeur":{"type":"string"},"CodeRadio":{"type":"string"},"DateConfirmation":{"type":"string"},"DateFin":{"type":"string"},"DatePAB":{"type":"string"},"DateResa":{"type":"string"},"DateSurPlace":{"type":"string"},"HeureConfirmation":{"type":"string"},"HeureFin":{"type":"string"},"HeurePAB":{"type":"string"},"HeureResa":{"type":"string"},"HeureSurPlace":{"type":"string"},"Immatriculation":{"type":"string"},"InfosCourse":{"type":"string"},"ListeSpecifs":{"type":"string"},"Mobile":{"type":"string"},"MontantCompteur":{"type":"number","format":"double"},"NoCourseComplet":{"type":"string"},"NoDossier":{"type":"string"},"NomPassager":{"type":"string"},"Service":{"type":"string"},"Telephone":{"type":"string"},"TypeCourse":{"type":"string"},"VilleArrivee":{"type":"string"},"VilleDepart":{"type":"string"},"indice":{"type":"integer","format":"int32"}},"title":"Course"},"Error":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}},"resultCode":{"type":"string"},"resultMessage":{"type":"string"}},"title":"Error"},"EstimatePrice":{"type":"object","properties":{"Departement":{"type":"integer","format":"int32"},"DepartureTimeHeureDeParis":{"type":"string","format":"date-time"},"Destination":{"$ref":"#/definitions/LatLng"},"Origin":{"$ref":"#/definitions/LatLng"},"Specificity":{"type":"string"},"TypeResa":{"type":"string"},"WayPoints":{"type":"array","items":{"$ref":"#/definitions/LatLng"}},"bookingSubscriber":{"type":"string"},"ceilingAmount":{"type":"number"}},"title":"EstimatePrice"},"Export":{"type":"object","properties":{"Central":{"type":"string"},"Course":{"type":"array","items":{"$ref":"#/definitions/Course"}},"DateDebutRecup":{"type":"string"},"DateExport":{"type":"string"},"DateFinRecup":{"type":"string"},"HeureDebutRecup":{"type":"string"},"HeureExport":{"type":"string"},"HeureFinRecup":{"type":"string"}},"title":"Export"},"Groups":{"type":"object","properties":{"activate":{"type":"boolean"},"allowNonSubscriber":{"type":"boolean","description":"Autorise la création de course pour les non abonnés"},"billingCode":{"type":"string","description":"Code groupement pour la facturation"},"deleted":{"type":"boolean"},"department":{"type":"number","format":"double","description":"Code département utiliser pour calculer l'estimation du prix d'une course"},"distributionDuration":{"type":"integer","format":"int32","description":"Durée de la distribution"},"flatRateApproach":{"type":"number"},"id":{"type":"integer","format":"int64"},"latitude":{"type":"number","format":"double","description":"Latitude du point prit en compte pour calculer une estimation de l'approche"},"longitude":{"type":"number","format":"double","description":"Longitude du point prit en compte pour calculer une estimation de l'approche"},"name":{"type":"string"},"percentRoundedPrice":{"type":"number","format":"float","description":"Pourcentage arrondi estimation du prix"},"reservationDistributionDuration":{"type":"integer","format":"int32","description":"Durée de la distribution pour les réservations"},"type":{"type":"string","enum":["APPSOLU","ARAMUS","TESSA","AUTOCAB"]},"vendorId":{"type":"string","description":"Identifiant fournisseur (groupement) pour les flottes autocab"},"webserviceUrl":{"type":"string"}},"title":"Groups"},"GroupsCode":{"type":"object","properties":{"billingCode":{"type":"string","description":"Billing code for the subscriber"},"bookingSubscriber":{"type":"string","description":"Code abonné dans akosbooking"},"feesChargedToSubscriber":{"type":"boolean","description":"Fees charged to the subscriber"},"groupFeePercentage":{"type":"number"},"groups":{"$ref":"#/definitions/Groups"},"id":{"type":"integer","format":"int64"},"serviceFee":{"type":"number"},"taxiSubscriber":{"type":"string","description":"Code abonné dans akostaxi"}},"title":"GroupsCode","description":"Classe qui permet de faire le lien le code abonné dans akosbooking et celui dans le groupement"},"LatLng":{"type":"object","properties":{"Latitude":{"type":"number","format":"double"},"Longitude":{"type":"number","format":"double"},"ZipCode":{"type":"string"}},"title":"LatLng"},"NotificationDto":{"type":"object","properties":{"alertMethod":{"type":"string","enum":["TEXT_MESSAGE"]},"bookingEvent":{"type":"string","enum":["BOOKING_DISPATCHED","VEHICLE_ARRIVED","PASSENGER_ON_BOARD","BOOKING_COMPLETED","BOOKING_CANCELLED","LOCATION_UPDATE"]},"bookingEvents":{"type":"array","items":{"type":"string","enum":["BOOKING_DISPATCHED","VEHICLE_ARRIVED","PASSENGER_ON_BOARD","BOOKING_COMPLETED","BOOKING_CANCELLED","LOCATION_UPDATE"]}},"recipient":{"type":"string","enum":["PURCHASER","END_USER"]}},"title":"NotificationDto"},"Rating":{"type":"object","required":["rating"],"properties":{"rating":{"type":"integer","format":"int32","description":"Rating of the booking between 1 and 5"},"ratingComment":{"type":"string","description":"Comments associated to the rating"}},"title":"Rating","description":"Rating a booking"},"Specificity":{"type":"object","required":["description","label"],"properties":{"deleted":{"type":"boolean","description":"If the specificity is deleted"},"description":{"type":"string","description":"Description of the specificity"},"id":{"type":"integer","format":"int64"},"label":{"type":"string","description":"Label of the specificity, readable by human"}},"title":"Specificity"},"Taxi":{"type":"object","properties":{"cabId":{"type":"string","description":"Unique id of the taxi in the company"},"companyName":{"type":"string","description":"Company name of the taxi"},"latitude":{"type":"number","format":"double","description":"Latitude of the taxi"},"longitude":{"type":"number","format":"double","description":"Longitude of the taxi"}},"title":"Taxi"}}}